
body
{
    background: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    max-width: 200px;
}
#home
{
    color: red;
    
}
.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}


/* Style the hero section */
.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    font-weight:900;
    margin-bottom: 20px;
}
#first
{
    font-size: 1.5rem;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 4%;
}
.hero button:hover
{
    background-color: #a1040c;
}
